header.title {
  text-align: center;
  font-weight: bold;
}

input#upload-input {
  display: none;
}

.upload-wrapper {
  position: relative;
  outline: 2px dashed rgb(109, 229, 105);
  border-radius: 5px;
  width: clamp(200px, 40vw, 400px);
  height: 300px;
  margin: 0 auto;

  > .upload-info {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
}

.upload-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    box-shadow: 2px 2px 2px rgba(189, 195, 199, 0.8);
  }
}
