// 参考中文网：https://babel.nodejs.cn/
{
  // 预设（内置了很多插件）从后往前编译
  "presets": [
    [
      "@babel/preset-env",
      // 配置选项在：https://babel.nodejs.cn/docs/babel-preset-env
      {
        "useBuiltIns": "usage",
        "corejs": {
          "version": "3.41",
          "shippedProposals": true
        },
        // modules: false 将 转换成ES模块规范
        "modules": false,
        // 用于指示 Babel 是否忽略项目中的 Browserslist 配置文件，为true时使用target作为配置选项
        "ignoreBrowserslistConfig": false
      }
    ]
  ],
  // 官网插件列表：https://babel.nodejs.cn/docs/plugins-list
  "plugins": [
    // 移除打印日志 "babel-plugin-" 可以移除
    // ["babel-plugin-transform-remove-console", { "exclude": ["error", "warn"] }],
    ["@babel/plugin-transform-json-modules"],
    ["@babel/plugin-transform-class-properties"],
    ["@babel/plugin-transform-private-property-in-object"]
  ]
}
