# 全局
**.js.map

# 依赖相关
node_modules
**/package-lock.json

# 打包测试时，忽略的文件
# 第一章
第1章 核心功能/**/target/**.js
第1章 核心功能/**/dist/**.js
!第1章 核心功能/03-编译结果分析/dist/my-main.js
!第1章 核心功能/03-编译结果分析/dist/test-eval.js
# 第二章
第2章 常用扩展/**/dist/**
第3章 css工程化/**/dist/**
# 第五章
第5章 性能优化/**/dist
第5章 性能优化/01-优化loader的性能/cache

# 忽略概念文件中
concept/**/dist/**
!concept/预编译器sass/dist/index.html

# demo中不忽略和忽略的文件
demo/**/dist/*.js
demo/**/dist/*.map
demo/**/dist/*.json
demo/区域查询/dist/**

# 忽略docs相关
docs/.vitepress/cache
docs/dist