* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

/* id = ‘app’ 盒子的样式 */
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden auto;
}