@use "reset";

:root {
  --btn-text-color: #606266;
  --btn-bg-color: #fff;
  --btn-border-color: #dcdfe6;

  --btn-hover-text-color: #409eff;
  --btn-hover-border-color:rgb(197.7, 225.9, 255);
  --btn-hover-bg-color: rgb(235.9, 245.3, 255);
  
  --btn-active-text-color: #409eff;
  --btn-active-border-color:#409eff;
  --btn-active-bg-color: rgb(235.9, 245.3, 255);
}